/* polyrythm metronome */

/* BASE */
:root {
    --primary-text: rgb(201, 201, 201);
    --secondary-text: rgb(138, 138, 138);
    --background-main: black;
    --background-container: rgb(42, 41, 41);
    --button-bg: rgb(192, 22, 22);
    --button-hover-bg: rgb(100, 14, 14);
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1c1c;
    color: var(--primary-text);
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    color: var(--primary-text);
    margin-bottom: 30px;
}

header {
    position: absolute;
    top: 0;
    width: 110%;
    margin-left: -5px;
    background-color: rgb(19, 19, 19);
    color: var(--primary-text);
    overflow-x: auto;
}

nav {
    margin: 0;
}

nav > ul {
    list-style: none;;
    display: flex;
    justify-content: flex-start;;
    gap: 20px;
    flex: 1;
    /* margin-right: 40px; */
}

article {
    & > * {
        margin: 1.5rem 0;
    }

    & > ul > li {
        margin: 1rem 0;
        list-style-type: circle;
    }
}

/* -----END BASE------- */

/* UTILS */

.nav-link {
    text-decoration: none;
    color: var(--primary-text);
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

.no-wrap {
    white-space: nowrap;
}

/* <div class="checkbox-wrapper-2">
  <input type="checkbox" class="sc-gJwTLC ikxBAC">
</div> */

.checkbox-wrapper-2 .ikxBAC {
appearance: none;
background-color: #dfe1e4;
border-radius: 72px;
border-style: none;
flex-shrink: 0;
height: 20px;
margin: 0;
position: relative;
width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
bottom: -6px;
content: "";
left: -6px;
position: absolute;
right: -6px;
top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
background-color: #fff;
border-radius: 50%;
content: "";
height: 14px;
left: 3px;
position: absolute;
top: 3px;
width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
background-color: #c9cbcd;
transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
background-color: var(--button-bg);
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
background-color: #fff;
left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
background-color: var(--button-hover-bg);
}



/* end utils */


/* TABS */

.tab.hidden {
    display: none;
}

.tab.visible {
    margin: 0;
    margin-top: 100px;
    padding: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    width: 100vw;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.tab.invisible {
    opacity: 0;
}

.tab.instructions {
    justify-content: flex-start;
}

.tab.me {
    justify-content: flex-start;
}

.tab-btn {
    background: none;
    border: none;
    color: var(--primary-text);
    font-size: 16px;
    cursor: pointer;
}

.tab-btn:hover {
    color: var(--secondary-text);
    text-decoration: underline;
}

.tab-btn.selected {
    text-decoration: underline;
}

/* acceleration settings tab */

.settings-container {
    background: var(--background-container);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: clamp(300px, 45%, 600px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.acceleration-settings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.acceleration-settings.hidden {
    display: none;
}


/* COMPONENTS */

.bpm-control {
    display: block;
}

.bpm-control.hidden {
    display: none;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 800px;
}

.swap-control {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.swap-control.hidden {
    display: none;
}

.export-container {
    background: var(--background-container);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metronome-container {
    background: var(--background-container);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: clamp(500px, 45%, 1200px);
}


.controls {
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    flex: 1;
}

.polyrhythm-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.control-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="number"], select, input[type="range"] {
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--primary-text);
}

input[type="number"]:hover {
    cursor:default;
}

input[type="number"] {
    width: 2rem;
    /* hide stock arrows on firefox */
    -moz-appearance: textfield;
    appearance: textfield; /* Standard property for future-proofing */
}

input[type="number"]:focus, select:focus, input[type="range"]:focus {
    outline: none;
    border: 1px solid var(--button-bg);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* hide stock arros on chrome/safari/edge/opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for future-proofing */
}

input[type="range"] {
    width: clamp(150px, 25%, 300px);
    accent-color: var(--button-bg);
}

#bpm-display, #secondary-bpm-display {
    font-weight: bold;
    color: var(--button-bg);
}

.button {
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    align-self: center;
    width: clamp(150px, 40%, 400px);
}

.button:hover {
    background-color: var(--button-hover-bg);
}

button.add, button.subtract {
    /* border-radius: 50%; */
    width: 2.2rem;
    border: 1px solid var(--background-main);
    border-radius: 5px;
    margin: 2px 2px;
    /* padding: 0 20px; */
    text-align: center;
    background-color: var(--button-bg);
    font-weight: 800;

    &:hover {
        cursor: pointer;
        background-color: grey;
    }
}

.number-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visualization {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: clamp(300px, 80%, 100%);
    margin: 0 auto;
}

.beat-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dots {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    max-width: 100%;
}

.dot {
    /* width: 2rem;
    height: 2rem; */
    background-color: var(--primary-text);
    border-radius: 50%;
    transition: background-color 0.1s;
}

.dot.large {
    width: clamp(.5rem, 1.5rem, 2rem);
    height: clamp(.5rem, 1.5rem, 2rem);
}

.dot.small {
    width: 1rem;
    height: 1rem;
    opacity: 0.65;
}

.dot.active {
    background-color: #dc3545;
}

.dot.active.secondary {
    background-color: orange;
}

#about-pic {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.list-links {
    list-style: none;
    li {
        margin: 10px;
    }
    a {
        color: var(--primary-text);
    }
    a:hover {
            cursor: pointer;
            color: var(--secondary-text);
    }
}

/* END COMPONENTS */

/* MEDIA QUERIES */
@media (max-width: 800px) {
    .visualization {
        .flex-row {
            flex-direction: column;
            align-items: center;
        }
    }

    .metronome-container {
        width: 85vw;
    }

    .export-container {
        width: 90%;
    }

    .info-container {
        width: 90%;
    }
}